<%- include("header"); -%>

<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar" class="active">
        <div class="sidebar-header">
            <h3>ToDo List</h3>
            <strong>TD</strong>
        </div>
        <ul class="list-unstyled components">
          <li class="active">
              <a href="<%= home %>">
                  <i class="fas fa-home"></i>
                  Home
              </a>
          </li>
          <li>
              <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed">
                <i class="fas fa-paperclip"></i>
                Pages
              </a>
              <ul class="list-unstyled collapse" id="pageSubmenu">
                  <li>
                      <a href="<%= lists %>">Lists</a>
                  </li>
              </ul>
          </li>
          <li>
             <a href="<%= add %>">
               <i class="fas fa-list-ul"></i>
                Add new list
             </a>
         </li>
      </ul>
    </nav>
    <!-- Page Content  -->
    <div id="content">
      <div class="boxHeader" id="heading">
        <h1 style="color: #374045;"> Add new list </h1>
      </div>
           <div class="boxBorder">
             <div style="padding: 20px;" class="box">
               <form  action="/newList" method="post">
                 <div class="form-group">
                   <label for="comboseTitelTxt"></label><br>
                    <input style="margin-left:50px; border-style: solid; border-width:.5px; border-radius:30px;"
                           class="form-control" size="157" type="text" name="comboseTitelTxt"
                           placeholder="Please insert the list name!" autocomplete="off"
                           value=""></input><br><br>
                    <hr>
                    <textarea style="padding: 10px;" class="form-control" height="100" rows="10" cols="140" type="text" name="comboseTxt" placeholder="" autocomplete="off"></textarea>
                 </div>
                 <button style="margin:10px; padding:5px;" class="btn btn-primary" type="submit" name="button">Save</button>
               </form>
            </div>
          </div>
            <%- include("footer") -%>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
